body {
	margin: 0 auto;
	font-family: 
}

#landingChoices {
	margin: 0 auto;
	width: 35%;
	height: 40%;
}

#landingChoicesTable {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	margin-top: 0%;
	/*border-collapse: separate;*/
	border-spacing: 20px 25px;

}

button {
	width: 100%;
	height: 100%;
}

#registerButton, #loginButton{
	width: 100%;
}

.header {
	/*float: right;*/
	padding-top: 50px;
	position: relative;
	margin: auto;
	height: 200px;
	width: 400px;
}
img{
	display: block;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

h6{
	text-align: center;
	font-family: "ubuntu";
	font-size: 25px;
  	src: url('../../../assets/ubuntu_font.ttf');

}

.logButton{
	background-color: #d91b5b; 
	border: none;
	color: black;

}
.logButton:hover{
	background-color: #404041;
    color: white;

}

button{
	background-color: #404041; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-family: "ubuntu";
  	src: url('../../../assets/ubuntu_font.ttf');
  	-webkit-transition-duration: 0.4s;
}
button:hover{
	background-color: #d91b5b;
    color: black;
}


.register{
	position: relative;
	margin: auto;
}

#motto{
	margin-top: 4%;
	margin-bottom: 4%;
	font-size: 15px;
 	font-family: 'Space Mono', monospace;
  	/*src: url('../../../assets/ubuntu_font.ttf'); */
}
td{
	height: 75px;
}
table{
	position: relative;
	margin-top: -30px;
	padding-top: -30px;

}

i{
	right:10px;
	animation: blinker 1s linear infinite;
	/*float: right;*/
}