<div class="bg"></div>
<div class="header"><img align="center" src="../../assets/grace_repl_header_logo.svg"></div>
<div id="landingChoices">

	<h6 id="motto">>  Convenient coding starts here<i class="loading ">_ </i></h6>
	<table id="landingChoicesTable">
		<tr>
			<td><button md-raised-button class="normalButton" id="registerButton" (click)="registerClicked()">Register</button></td>
			<td><button md-raised-button class="selectedButton normalButton" id="loginButton" (click)="loginClicked()">Login</button></td>
		</tr>
		<tr>
			<td colspan="2"><button md-raised-button class="normalButton" (click)="guestClicked()">Code as guest</button></td>
		</tr>
		
	</table>

	<div id="backdrop" class="backdropDiv" (click)="bgClicked(logForm,regForm)"></div>
	<div id="loginForm" class="formDiv">
		<div class="closeX" (click)="bgClicked(logForm,regForm);">
			<img class="cancelImg" src="../../../assets/cancel.svg" alt="">
		</div>

		<app-login #logForm></app-login>
	</div>

	<div id="registerForm" class="formDiv">
		<div class="closeX" (click)="bgClicked(regForm,logForm);">
			<img class="cancelImg" src="../../../assets/cancel.svg" alt="">
		</div>

		<app-registration #regForm></app-registration>
	</div>
	
	<br>
	<br>
	<br>
</div>