<div class="header"><img align="center" src="../../assets/grace_repl_splash_logo.svg"></div>
<div id="landingChoices">

	<h6 id="motto">>  Convenient coding starts here<i class="loading ">_ </i></h6>
	<table id="landingChoicesTable">
		<tr>
			<td><button id="registerButton" (click)="registerClicked()">Register</button></td>
			<td><button class="logButton" id="loginButton" (click)="loginClicked()">Login</button></td>
		</tr>
		<tr>
			<td colspan="2"><button id="codeAsGuest" (click)="guestClicked()">Code as guest</button></td>
		</tr>
		
	</table>

	<app-registration id="registerForm" *ngIf="shown == 'REGISTER'"></app-registration>
	<app-login *ngIf="shown == 'LOGIN'"></app-login>
	<app-compiler *ngIf="shown == 'GUEST'"></app-compiler>
</div>