body {
	margin: 0 auto;
}

#landingChoices {
	margin: 0 auto;
	width: 35%;
}

#landingChoicesTable {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	margin-top: 0%;
	border-spacing: 20px 25px;
}

button {
	width: 100%;
	height: 100%;
}

.registerButton, .loginButton{
	width: 100%;
}

.header {
	/*float: right;*/
	padding-top: 50px;
	position: relative;
	margin: auto;
	width: 25%;
}
img{
	display: block;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

h6{
	text-align: center;
	font-family: "ubuntu";
	font-size: 25px;
  	src: url('../../../assets/ubuntu_font.ttf');

}

.normalButton{
	/*background-color: #404041;*/
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1px;
    font-family: "ubuntu";
  	src: url('../../../assets/ubuntu_font.ttf');
  	-webkit-transition-duration: 0.2s;
  	color: #fff;
  	background-color: #404041;
  	border-radius: 2px;
}
.normalButton:hover{
	background-color: #303031;
}

.selectedButton {
	background-color: #d91b5b;
	color: #fff;
}
.selectedButton:hover {
	background-color: #C91954;
}


#motto{
	margin-top: 4%;
	margin-bottom: 4%;
	font-weight: normal;
	font-size: 15px;
 	font-family: "Space Mono" ,monospace;
}
td{
	height: 75px;
}
table{
	position: relative;
	margin-top: -30px;
	padding-top: -30px;

}

i{
	right:10px;
	animation: blinker 1s linear infinite;
	/*float: right;*/
}


