
		<!-- <form [formGroup]="user">
 	 		<input formControlName="first" placeholder="First Name" minlength="2" maxlength="25" required pattern="[a-zA-Z]+">
       		<input formControlName="last" placeholder="Last Name" minlength="2" maxlength="25" required pattern="[a-zA-Z]+">
    	<div  formGroupName="account">
      		<input formControlName="email" placeholder="Email" type="email" name="email" maxlength="45" required pattern="[a-zA-Z0-9._]+@[a-zA-Z]+.[a-zA-z]+">
      		<input formControlName="password" placeholder="Password" type="password" minlength="6" maxlength="18" required pattern="[a-zA-Z0-9?!$]+">
      		<input formControlName="confirmPass" placeholder="Confirm Password" type="password" minlength="6" maxlength="18" required pattern="[a-zA-Z0-9?!$]+">
		</div>
 	 	</form> -->

  <h3 class="formTitle">Register</h3>
  <br>

  <form (ngSubmit)="onSubmit()">
   <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
          <md-input-container class="example-full-width">
            <input mdInput id="formFname" placeholder="First Name" 
              minlength="2" maxlength="25" required pattern="[a-zA-Z]+">
          </md-input-container>
      </td>
      <td>
          <md-input-container class="example-full-width">
            <input mdInput id="formLname" placeholder="Last Name"  
              minlength="2" maxlength="25" required pattern="[a-zA-Z]+">
          </md-input-container>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <md-input-container class="example-full-width">
            <input mdInput id="formEmail" placeholder="Email"  
              type="email" name="email" maxlength="45" 
              required pattern="[a-zA-Z0-9._]+@[a-zA-Z]+.[a-zA-z]+">
          </md-input-container>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <md-input-container class="example-full-width">
            <input mdInput id="formPassword" placeholder="Password"  
              type="password" minlength="6" maxlength="18" required pattern="[a-zA-Z0-9?!$]+">
          </md-input-container>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <md-input-container class="example-full-width">
            <input mdInput id="formConfirmPassword" placeholder="Confirm Password"  
              type="password" minlength="6" maxlength="18" required pattern="[a-zA-Z0-9?!$]+">
          </md-input-container>
      </td>
    </tr>
  </table>
  <br>
  <button md-raised-button class="submitButton" type="submit">Create Account</button>
  </form>

 	<!-- <div class="submit">
 	 	<button (click)="onSubmit()"> Register</button>
 	</div> -->


