<!-- 	<div class="form">
		<form [formGroup]="user">
 	 		<input formControlName="first" placeholder="First Name" minlength="2" maxlength="25" required pattern="[a-zA-Z]+">
       		<input formControlName="last" placeholder="Last Name" minlength="2" maxlength="25" required pattern="[a-zA-Z]+">
    	<div  formGroupName="account">
      		<input formControlName="email" placeholder="Email" type="email" name="email" maxlength="45" required pattern="[a-zA-Z0-9._]+@[a-zA-Z]+.[a-zA-z]+">
      		<input formControlName="password" placeholder="Password" type="password" minlength="6" maxlength="18" required pattern="[a-zA-Z0-9?!$]+">
      		<input formControlName="confirmPass" placeholder="Confirm Password" type="password" minlength="6" maxlength="18" required pattern="[a-zA-Z0-9?!$]+">
		</div>
 	 	</form>
 	</div> -->

   <table class="example-full-width" cellspacing="0" style="margin-top:150px"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="City" class="inputItem">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="State">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
    </md-input-container></td>
  </tr></table>

 	<div class="submit">
 	 	<button (click)="onSubmit()"> Register</button>
 	</div>
