	<form [formGroup]="form">
      <div formGroupName="name">
        <input formControlName="First Name: " placeholder="First" minlength="2" maxlength="25" required pattern="[a-zA-Z]+">
        <input formControlName="Last Name: " placeholder="Last" minlength="2" maxlength="25" required pattern="[a-zA-Z]+">
      </div>
      <div formGroupName="account">
      	<input formControlName="E-Mail: " placeholder="Email" type="email" name="email" maxlength="45" required>
      	<input formControlName="Password: " placeholder="Password" minlength="6" maxlength="18" required pattern="[a-zA-Z0-9?!$]+">

     	 <button>Submit</button>
	    </div>
  </form>

<p>Value: {{ form.value | json }}</p>
<p>Form status: {{ form.status }}</p>
<p>Password status: {{ form.get('account.password').status}}</p>