.example-form {
  width: 80%;
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}

.mat-input-element::placeholder {
  color: #444;
}

.mat-input-element::-moz-placeholder {
  color: #444;
}

td {
  border-left: 5px solid white;
  border-right: 5px solid white;
}

.submitButton {
  background-color: #d91b5b;
  border: 2px solid #d91b5b;
  color: white;
  width: 55%;
  text-align: center;
}

.submitButton:hover {
  background-color: #fff;
  color: #d91b5b;
}

.formTitle {
  padding: 0px;
  margin: 0px;
  padding-bottom: 3%;
  border-bottom: 2px solid #444;
}