<h3 class="formTitle">Login</h3>
<br>

<form (ngSubmit)="onSubmit()">
	<table class="example-full-width" cellspacing="0">
		<tr>
			<td>
	        	<md-input-container class="example-full-width">
	            <input mdInput id="loginEmail" placeholder="Email"  
	              type="email" name="email" required>
	         	</md-input-container>
      		</td>
		</tr>
		<tr>
			<td>
	        	<md-input-container class="example-full-width">
	            <input mdInput id="loginPassword" placeholder="Password"  
	              type="password" name="email" required>
	         	</md-input-container>
      		</td>
		</tr>
	</table>
<br>
<button md-raised-button class="submitButton" type="submit">Sign In</button>
</form>