
<div class="container">
	<div class="toolbar" id="editorTools">
		<div class="editorToolbarButton" id="downloadButton"
				(click)="downloadFile();">download</div>
		<div class="editorToolbarButton" id="saveButton"
				(click)="save();">save</div>
		<div class="editorToolbarButton" id="runButton"
		(click)="compileCode();">run</div>
	</div>

	<ace-editor
	       [(text)]="editorText"
	       [mode]="mode"
	       [theme]="theme"
	       [options]="editorOptions"
	       [readOnly]="false"
	       [autoUpdateContent]="true"
	       [durationBeforeCallback]="1000"
	       class="codeEditor"
	       id="editor" #editor></ace-editor>
</div>

<div class="divider" id="resizer"></div>


<div class="container2">
	<div class="toolbar" id="consoleTools">
		<div class="consoleToolbarButton" id="stopButton"
			(click)="stopCompile();">stop</div>
		<div class="consoleToolbarButton" id="clearButton"
			(click)="clearConsole();">clear</div>
	</div>

	<ace-editor
	       [(text)]="consoleText"
	       [mode]="mode"
	       [theme]="theme"
	       [options]="consoleOptions"
	       [readOnly]="true"
	       [autoUpdateContent]="true"
	       [durationBeforeCallback]="1000"
	       class="codeEditor"
	       id="console" #editori></ace-editor>
</div>
