<app-header [config]='dashHeader'></app-header>
<div class="filesTableTitle"><h1>Files</h1></div>
<md-list>
  <md-list-item *ngFor="let file of files; let i = index;">
    <md-icon md-list-avatar>note</md-icon>
    <h4 md-line class="fileName" (click)="fileOpen(i)">{{file.fileName}}</h4>
    <p md-line class="fileDate"> {{file.dateModified | date}} </p>
	<div class="fileButtons">
	<img class="metaIcon" src="../../assets/meta.svg" (click)="fileMeta(i)" onmouseover="this.src='../../assets/meta-selected.svg';" onmouseout="this.src='../../assets/meta.svg';">
	<img class="inviteIcon" src="../../assets/invite.svg" (click)="fileInvite(i)" onmouseover="this.src='../../assets/invite-selected.svg';" onmouseout="this.src='../../assets/invite.svg';">
	<img class="downloadIcon" src="../../assets/download.svg" (click)="fileDownload(i)" onmouseover="this.src='../../assets/download-selected.svg';" onmouseout="this.src='../../assets/download.svg';">
	</div>
  </md-list-item>
</md-list>
