@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

md-list-item:hover{
	background-color: #d91b5b;
	cursor: pointer;
}

.metaIcon, .inviteIcon, .downloadIcon {
	height: 100%;
	width: 18%;
	float: right;
}

.fileButtons {
	width: 15%;
	height: 100%;
}

img {
	margin-right: 7%;
}

.filesTableTitle {  
	margin-left: 12px;
}