.headerBar{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

@font-face {
  font-family: "ubuntu";
  src: url('../../../assets/ubuntu_font.ttf');
}

.headerBar,h1,h2,h3,h4,h5,h6 {
  font-family: "ubuntu", arial;
}

.headerBar {
  background-color: white;
  border-bottom: 1px solid #ddd;
  top: 0;
  width: 100%;
  text-align: center;
  text-indent: -140px;
  padding: 10px 0px;
  margin: 0px;
  height: 52px;
}

.headerButtonStyle{
  text-indent: 0px;
  background-color: #d91b5b;
  border: 1px solid #d91b5b;
  font-size: 12px;
  height: 30px;
  line-height: 27px;
  padding: 0 20px;
  position: absolute;
  cursor: pointer;
  color: #fff;
}

.headerButtonStyle:hover {
  border: 1px solid #c80a4a;
  background-color: #c80a4a;
}

.headerButtonImg {
  height: 60%;
  vertical-align: middle;
}

img.headerImgStyle {
  height: 60%;
}

.headerLeftButton {
  left: 1%;
}

.headerRightButton {
  right: 1%;
}

.headerLogo {
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.darkenBar {
  background-color: #404041;
  border-color: #303031;
}



