<div class="headerBar">
	<div  *ngIf="config.leftButtonContent!='none'" class="headerLeftButton headerButtonStyle" (click)="config.leftButtonFunction();">
		<img class="headerButtonImg" [src]="config.leftButtonSrc" alt="">{{config.leftButtonContent}}
	</div>

	<div *ngIf="config.rightButtonContent!='none'" class="headerRightButton headerButtonStyle" (click)="config.rightButtonFunction();">
		<img class="headerButtonImg" [src]="config.rightButtonSrc" alt="">{{config.rightButtonContent}}
	</div>
	<div class="headerCenter"><img class="headerLogo" 
		src="../../../assets/grace_repl_header_logo.svg"
		href=""></div>
</div>
